* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    width: 750px;
    margin: 0 auto;
}

main {
    background-color: #7fffd4;
    padding: 3rem 0;
}

.row, .col-100 {
    width: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 75px;
    height: 75px;
    background-color: none;
    outline: 0.1rem solid #000;
}

.active {
    background-color: red;
}